<div class="TheCard_theCard_2cRTU">
    <div class="TheCard_container_2QfmG">
        <div class="TheCard_intro_2sEXb">
            <div class="TheCard_intro__content_2dQtP">
                <div class="TheCard_intro__first_1y6vr">
                    <div class="TheCard_intro__heading_1nr6Q">
                        Better than a debit card.
                        <br>
                        Better than a (traditional) credit card.
                    </div>
                    <p class="TheCard_intro__text_2Esvq">We don’t believe people should be required to take on risky forms of debt, even just for a month, to get cash back on their spending. With Zero, there’s no more keeping up with credit card balances, bills, and due dates, all in the name of chasing down rewards.</p>
                </div>
                <div class="TheCard_intro__col_hx_ag">
                    <div class="TheCard_intro__symbol_3rzmP TheCard_intro__symbolDebit_uAbOz"></div>
                    <div class="TheCard_intro__subheading_RDyOT">Acts like a debit card</div>
                    <p class="TheCard_intro__text_2Esvq">Make deposits and your balance in the Zero app goes up. Spend on your Zerocard and your balance goes down. Every transaction is reflected right away and you don’t run up monthly bills that you have to worry about.</p>
                </div>
                <div class="TheCard_intro__col_hx_ag">
                    <div class="TheCard_intro__symbol_3rzmP TheCard_intro__symbolCredit_gOEm6"></div>
                    <div class="TheCard_intro__subheading_RDyOT">Earns credit card rewards</div>
                    <p class="TheCard_intro__text_2Esvq">Depending on which level Zerocard you have, you’ll earn 1.0% to 3.0% on all your spending. And there’s no need to jump through any hoops — Zero deposits your cash back automatically at the end of every month.</p>
                </div>
            </div>
        </div>
        <div class="TheCard_reward_281ib">
            <div class="TheCard_reward__heading_3PHMJ">
                More inviting.
                <br>
                More rewarding.
            </div>
            <p class="TheCard_reward__text_1Fivi">Start with Zerocard Quartz and earn progressively more cash back as you level up to Zerocard Carbon. You can level up and maintain status by meeting a minimum annual spend requirement or by referring others to become Zero customers. We believe that rewarding people for spreading the word about a product they love is a great way to appreciate our customers and keep higher level cards in reach for everyone.</p>
        </div>
    </div>
    <div class="TheCard_content_3X70T">
        <div class="TheCard_container_2QfmG">
            <div>
                <div class="TheCard_item_1G7TX" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                    <div class="TheCard_item__imageWrap_3x__u"><img class="TheCard_item__image_3gP65" src="/angular-gulp/angular-gulp/assets/images/8023d9a3a28da41e694eab6ff5a6b5dc.png" alt="Carbon"><img class="TheCard_item__imageMobile_1e0MO" src="/angular-gulp/angular-gulp/assets/images/47a17523067a39afe47c4527ac39548b.png" alt="Carbon"></div>
                    <div class="TheCard_item__percentage_2KD35">
                        <div class="TheCard_item__num_1GFXl">3.0%</div>
                    </div>
                    <div class="TheCard_item__content_27VdQ">
                        <div class="TheCard_item__desktopPercentage_1e5pn">3.0%</div>
                        <div class="TheCard_item__heading_1ms1K">Carbon</div>
                        <div class="TheCard_item__text_1OUV4">The highest level Zerocard, Carbon earns an industry-leading 3.0% cash back. Requires $100,000 in annual spending or referring others to become Zero customers to qualify.</div>
                    </div>
                </div>
                <div class="TheCard_item_1G7TX" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                    <div class="TheCard_item__imageWrap_3x__u"><img class="TheCard_item__image_3gP65" src="/angular-gulp/angular-gulp/assets/images/61d1ad07cefdbb755af69078023e22a6.png" alt="Magnesium"><img class="TheCard_item__imageMobile_1e0MO" src="/angular-gulp/angular-gulp/assets/images/0378ea7a0955030cb3e044aeb1a0ba65.png" alt="Magnesium"></div>
                    <div class="TheCard_item__percentage_2KD35">
                        <div class="TheCard_item__num_1GFXl">2.0%</div>
                    </div>
                    <div class="TheCard_item__content_27VdQ">
                        <div class="TheCard_item__desktopPercentage_1e5pn">2.0%</div>
                        <div class="TheCard_item__heading_1ms1K">Magnesium</div>
                        <div class="TheCard_item__text_1OUV4">The second-highest level Zerocard, Magnesium earns 2.0% cash back. Requires $50,000 in annual spending or referring others to become Zero customers to qualify.</div>
                    </div>
                </div>
                <div class="TheCard_item_1G7TX" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                    <div class="TheCard_item__imageWrap_3x__u"><img class="TheCard_item__image_3gP65" src="/angular-gulp/angular-gulp/assets/images/5b2972c076c44cc0a404265d546a72c0.png" alt="Graphite"><img class="TheCard_item__imageMobile_1e0MO" src="/angular-gulp/angular-gulp/assets/images/84297c4e70a92c3927567f678da09817.png" alt="Graphite"></div>
                    <div class="TheCard_item__percentage_2KD35">
                        <div class="TheCard_item__num_1GFXl">1.5%</div>
                    </div>
                    <div class="TheCard_item__content_27VdQ">
                        <div class="TheCard_item__desktopPercentage_1e5pn">1.5%</div>
                        <div class="TheCard_item__heading_1ms1K">Graphite</div>
                        <div class="TheCard_item__text_1OUV4">One step up from the entry level Zerocard, Graphite earns 1.5% cash back. Requires $25,000 in annual spending or referring others to become Zero customers to qualify.</div>
                    </div>
                </div>
                <div class="TheCard_item_1G7TX" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                    <div class="TheCard_item__imageWrap_3x__u"><img class="TheCard_item__image_3gP65" src="/angular-gulp/angular-gulp/assets/images/1f74eaced6fcbcc7b5f4515bb0085e6c.png" alt="Quartz"><img class="TheCard_item__imageMobile_1e0MO" src="/angular-gulp/angular-gulp/assets/images/5ec4e842995bb637451b877afc310228.png" alt="Quartz"></div>
                    <div class="TheCard_item__percentage_2KD35">
                        <div class="TheCard_item__num_1GFXl">1.0%</div>
                    </div>
                    <div class="TheCard_item__content_27VdQ">
                        <div class="TheCard_item__desktopPercentage_1e5pn">1.0%</div>
                        <div class="TheCard_item__heading_1ms1K">Quartz</div>
                        <div class="TheCard_item__text_1OUV4">The entry level Zerocard, Quartz earns 1.0% cash back, still a game-changing rewards rate for a product with debit-style functionality.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
