<div class="Graph_graph_XS6Qq">
    <div class="Graph_container_2Xf1f">
        <div class="Graph_content_3-wdR">
            <div class="Graph_row_1QDaE">
                <div class="Graph_col_1dSwj">
                    <div class="Graph_content__heading_3T4Qm">More money in your pocket</div>
                </div>
                <div class="Graph_col_1dSwj">
                    <p class="Graph_content__text_3G-nc">Zero gives you the best cash rewards on purchases plus the highest interest on deposits.</p>
                    <p class="Graph_content__text_3G-nc">Enter your monthly spending and average daily balance to see how much cash back and interest Zero will put in your pocket.*</p>
                </div>
            </div>
        </div>
    </div>
    <div class="Graph_boxes_2AkdJ">
        <div class="Graph_container_2Xf1f">
            <div class="Graph_row_1QDaE">
                <div class="Graph_col_1dSwj">
                    <div class="Graph_box_g81iz Graph_left_A_Dt8">
                        <div class="Graph_knobWrapper_3Nr2D">
                            <div class="Graph_knobWrapperInner_2o7Ds">
                                <div class="Graph_knobWrapperLimit_265Ft">
                                    <div class="">
                                        <div class="Knob_info_1xDAn">
                                            <div class="Knob_info__aspect_3qHOa"></div>
                                            <div class="Knob_info__content_3JBua">
                                                <div class="Knob_spending_27aaP">
                                                    <div class="Knob_heading_1H0ia">Monthly Spending</div>
                                                    <input type="text" value="$2,500">
                                                </div>
                                                <div class="Knob_balance__5iTb">
                                                    <div class="Knob_heading_1H0ia">Average Daily Balance</div>
                                                    <input type="text" value="$10,500">
                                                </div>
                                            </div>
                                            <button style="opacity: 0; position: absolute;"></button>
                                        </div>
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="Knob_host_2-lDX Graph_knobs_1bGrL" width="600" height="600" viewBox="0 0 600 600">
                                            <path d="M 32.1876030760161 397.4757408478156 A 285,285 0 0 1 568.187603076 202.524259152 M 575.288860492 226.236572146 A 285 285, 0, 0, 1, 40.288860492 417.236572146" stroke="#b4cbcf" fill="transparent" stroke-width="2"></path>
                                            <path d="M 32.1876030760161 397.4757408478156 A 285 285 0 0 1 312.35149521950893 15.267773924617984" stroke="#30cfbf" stroke-width="2" fill="transparent"></path>
                                            <path d="M 575.288860492 226.236572146 A 285 285 0 0 1 502.41416343231174 500.6327651251248" stroke="#486784" stroke-width="2" fill="transparent"></path>
                                            <circle cx="32.1876030760161" cy="397.4757408478156" r="9" fill="#30cfbf" transform="translate(280.16389214349283 -382.2079669231976)"></circle>
                                            <circle cx="32.1876030760161" cy="397.4757408478156" r="35" fill="transparent" transform="translate(280.16389214349283 -382.2079669231976)"></circle>
                                            <circle cx="575.288860492" cy="226.236572146" r="9" fill="#486784" transform="translate(-72.87469705968829 274.39619297912486)"></circle>
                                            <circle cx="575.288860492" cy="226.236572146" r="35" fill="transparent" transform="translate(-72.87469705968829 274.39619297912486)"></circle>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="Graph_knobWrapperAspect_3t8Kf"></div>
                        </div>
                    </div>
                </div>
                <div class="Graph_col_1dSwj">
                    <div class="Graph_box_g81iz Graph_right_3XuWc">
                        <div class="Graph_heading_1J4gm">In your pocket</div>
                        <div class="Graph_result_1SUHs">$1020.75</div>
                        <div class="Graph_subtitle_2gmuH">
                            <!-- react-text: 174 -->more per year with Zerocard
                            <!-- /react-text --><span class="Graph_card_YUVT6">Carbon</span></div>
                        <div class="Graph_selector_30_ZT">
                            <div>
                                <input type="radio" id="4" name="level" class="Graph_card_YUVT6" value="4">
                                <label for="4" class="Graph_label_2Rd1K"><span>Carbon</span><span class="Graph_line_1DqN0"></span><span class="Graph_percentage_3XChb"><!-- react-text: 183 -->3<!-- /react-text --><!-- react-text: 184 -->%<!-- /react-text --><span>Cash back</span></span>
                                </label>
                            </div>
                            <div>
                                <input type="radio" id="3" name="level" class="Graph_card_YUVT6" value="3">
                                <label for="3" class="Graph_label_2Rd1K"><span>Magnesium</span><span class="Graph_line_1DqN0"></span><span class="Graph_percentage_3XChb"><!-- react-text: 192 -->2<!-- /react-text --><!-- react-text: 193 -->%<!-- /react-text --><span>Cash back</span></span>
                                </label>
                            </div>
                            <div>
                                <input type="radio" id="2" name="level" class="Graph_card_YUVT6" value="2">
                                <label for="2" class="Graph_label_2Rd1K"><span>Graphite</span><span class="Graph_line_1DqN0"></span><span class="Graph_percentage_3XChb"><!-- react-text: 201 -->1.5<!-- /react-text --><!-- react-text: 202 -->%<!-- /react-text --><span>Cash back</span></span>
                                </label>
                            </div>
                            <div>
                                <input type="radio" id="1" name="level" class="Graph_card_YUVT6" value="1">
                                <label for="1" class="Graph_label_2Rd1K"><span>Quartz</span><span class="Graph_line_1DqN0"></span><span class="Graph_percentage_3XChb"><!-- react-text: 210 -->1<!-- /react-text --><!-- react-text: 211 -->%<!-- /react-text --><span>Cash back</span></span>
                                </label>
                            </div>
                        </div>
                        <div class="Graph_interest_2sird">
                            <!-- react-text: 214 -->*Simulation based on selected Zerocard level and 1.15% annual percentage yield (APY) on deposits.
                            <!-- /react-text --><a href="/faq">See FAQ</a>
                            <!-- react-text: 216 -->for more details.
                            <!-- /react-text -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
