<div class="Features_features_2P3lQ">
    <div class="Features_container_6Vocm">
        <div class="Features_wrap_i6QYD">
            <div class="Features_list_1-tLW">
                <div class="Features_list__item_3HuiS">
                    <div class="Features_item_1pFCb" style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 30);">
                        <div class="Features_imageWrap_hqHM4">
                            <div class="Features_background_2YL-m"></div><img src="//d1cz6pru4dlm9k.cloudfront.net/bundles/888cc611d1311101d5c07e9713f8a65c.png" class="Features_image_FNWCB" alt="app"></div>
                        <div class="Features_heading_1j0e3" style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 15);">Banking with zero compromises.</div>
                        <div class="Features_text_2A-r-" style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 10);">Zero is built for the way people live, spend, and save. Zerocard is usable anywhere credit cards are accepted, with free ATM access in over 50,000 locations.</div>
                    </div>
                </div>
                <div class="Features_list__item_3HuiS">
                    <div class="Features_item_1pFCb" style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 30);">
                        <div class="Features_imageWrap_hqHM4">
                            <div class="Features_background_2YL-m Features_background_alt_33qzR"></div><img src="//d1cz6pru4dlm9k.cloudfront.net/bundles/62d9456d3541e0aeaa972486a488b322.png" class="Features_image_FNWCB" alt="app"></div>
                        <div class="Features_heading_1j0e3" style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 15);">Brilliant customer support</div>
                        <div class="Features_text_2A-r-" style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 10);">Connect with our support team wherever, whenever, with in-app live chat, or over the phone. We’re always here for you.</div>
                    </div>
                </div>
            </div>
            <div class="Features_list_1-tLW">
                <div class="Features_headline_10tdo">
                    <!-- react-text: 299 -->Upgrade your money. 
                    <!-- /react-text -->
                    <br>
                    <!-- react-text: 301 -->Simplify your life.
                    <!-- /react-text -->
                </div>
                <div class="Features_list__item_3HuiS">
                    <div class="Features_item_1pFCb" style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 30);">
                        <div class="Features_imageWrap_hqHM4">
                            <div class="Features_background_2YL-m Features_background_alt_33qzR"></div><img src="//d1cz6pru4dlm9k.cloudfront.net/bundles/7c24d352573ac792dc7bd7b7b03a1e28.png" class="Features_image_FNWCB" alt="app"></div>
                        <div class="Features_heading_1j0e3" style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 15);">We’ve got your back.</div>
                        <div class="Features_text_2A-r-" style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 10);">Deposits are FDIC-insured via our partner institution. And the zero liability policy protects you if your card is ever lost, stolen or fraudulently used.</div>
                    </div>
                </div>
                <div class="Features_list__item_3HuiS">
                    <div class="Features_item_1pFCb" style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 30);">
                        <div class="Features_imageWrap_hqHM4">
                            <div class="Features_background_2YL-m"></div><img src="//d1cz6pru4dlm9k.cloudfront.net/bundles/b81cc7bda043c7294423b0c924f43fd9.png" class="Features_image_FNWCB" alt="app"></div>
                        <div class="Features_heading_1j0e3" style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 15);">Know your money better.</div>
                        <div class="Features_text_2A-r-" style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 10);">Our Intelligent Advisor uses advanced financial analysis techniques to forecast your balance so you can make more informed financial decisions.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
