<div class="FirstSteps_firstSteps_14RU4 FirstSteps_alt_2qZX6">
    <div class="FirstSteps_container_3Mp-o">
        <div class="FirstSteps_row_2xpT9">
            <div class="FirstSteps_col_2ft-u">
                <div class="FirstSteps_text_3zAl7">Take the first step to Zero.</div>
            </div>
            <div class="FirstSteps_col_2ft-u">
                <div class="SignupForm_signupForm_3mgQg">
                    <form>
                        <label class="Label_label_1XJRc">Get Early Access</label>
                        <div class="SignupForm_input_3G9Ia">
                            <div class="SignupForm_input__item_3p0t7">
                                <input type="email" class="SignupForm_textbox_3hmXB" name="field_input" placeholder="you@mail.com" autocomplete="off" required="" tabindex="0">
                            </div>
                            <div class="SignupForm_input__item_3p0t7">
                                <input type="text" class="SignupForm_textbox_3hmXB" autocomplete="off" name="field_input" placeholder="Access Code" tabindex="-1">
                            </div>
                        </div>
                        <div style="display: none;">
                            <input type="submit">
                        </div>
                        <div class="SignupForm_button_218KF">
                            <button tabindex="0" class="SignupForm_button__item_14Ox7 SignupForm_button__itemSelected_2V76f">Sign Up</button>
                            <button tabindex="-1" class="SignupForm_button__item_14Ox7">Have a code?</button>
                            <div class="SignupForm_button__background_2zB6n"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
