<div class="Nope_nope_1CT3C">
    <div class="Nope_container_1Aene">
        <div class="Nope_row_xlr-v">
            <div class="Nope_col_3Cu-T">
                <div class="Nope_heading_3vDz8">
                    <!-- react-text: 222 -->Unlike traditional banks, Zero never profits by charging you fees.
                    <!-- /react-text -->
                    <br>
                </div>
            </div>
        </div>
        <div class="slick-initialized slick-slider Nope_carousel_1qnTY">
            <div class="slick-list">
                <div class="slick-track" style="opacity: 1; width: 0px; transform: translate3d(0px, 0px, 0px);">
                    <div class="slick-slide Nope_carousel__item_32d4Z" data-index="-1" style="width: 0px;">
                        <div>Inactivity</div>
                        <div>Fees?</div>
                        <div class="Nope_carousel__nope_W4vZY"> Zero</div>
                    </div>
                    <div class="slick-slide slick-active Nope_carousel__item_32d4Z" data-index="0" tabindex="-1" style="outline: none; width: 0px;">
                        <div>Overdraft</div>
                        <div>Fees?</div>
                        <div class="Nope_carousel__nope_W4vZY"> Nope</div>
                    </div>
                    <div class="slick-slide Nope_carousel__item_32d4Z" data-index="1" tabindex="-1" style="outline: none; width: 0px;">
                        <div>Wire</div>
                        <div>Fees?</div>
                        <div class="Nope_carousel__nope_W4vZY"> No Way</div>
                    </div>
                    <div class="slick-slide Nope_carousel__item_32d4Z" data-index="2" tabindex="-1" style="outline: none; width: 0px;">
                        <div>Bill</div>
                        <div>Pay</div>
                        <div>Fees?</div>
                        <div class="Nope_carousel__nope_W4vZY"> Never</div>
                    </div>
                    <div class="slick-slide Nope_carousel__item_32d4Z" data-index="3" tabindex="-1" style="outline: none; width: 0px;">
                        <div>Add-on</div>
                        <div>ATM</div>
                        <div>Fees?</div>
                        <div class="Nope_carousel__nope_W4vZY"> None</div>
                    </div>
                    <div class="slick-slide Nope_carousel__item_32d4Z" data-index="4" tabindex="-1" style="outline: none; width: 0px;">
                        <div>Stop</div>
                        <div>Payment</div>
                        <div>Fees?</div>
                        <div class="Nope_carousel__nope_W4vZY"> No</div>
                    </div>
                    <div class="slick-slide Nope_carousel__item_32d4Z" data-index="5" tabindex="-1" style="outline: none; width: 0px;">
                        <div>Inactivity</div>
                        <div>Fees?</div>
                        <div class="Nope_carousel__nope_W4vZY"> Zero</div>
                    </div>
                    <div class="slick-slide slick-active Nope_carousel__item_32d4Z" data-index="6" style="width: 0px;">
                        <div>Overdraft</div>
                        <div>Fees?</div>
                        <div class="Nope_carousel__nope_W4vZY"> Nope</div>
                    </div>
                </div>
            </div>
            <ul class="slick-dots" style="display: block;">
                <li class="slick-active">
                    <button>1</button>
                </li>
                <li class="">
                    <button>2</button>
                </li>
                <li class="">
                    <button>3</button>
                </li>
                <li class="">
                    <button>4</button>
                </li>
                <li class="">
                    <button>5</button>
                </li>
                <li class="">
                    <button>6</button>
                </li>
            </ul>
        </div>
        <div class="Nope_list_2-OwD"><span></span></div>
        <div class="Nope_row_xlr-v">
            <div class="Nope_controls_3jUxH">
                <button class="Nope_arrow_26Sgr">
                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="13" viewBox="0 0 8 13" class="svg-icon">
                        <path fill="#FCBE9D" d="M8 6.3L1.8 0 .4 1.4l4.7 4.9L0 11.5 1.5 13 8 6.4v-.1z"></path>
                    </svg>
                </button>
                <button class="Nope_arrow_26Sgr">
                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="13" viewBox="0 0 8 13" class="svg-icon">
                        <path fill="#FCBE9D" d="M8 6.3L1.8 0 .4 1.4l4.7 4.9L0 11.5 1.5 13 8 6.4v-.1z"></path>
                    </svg>
                </button>
            </div>
            <div class="Nope_col_3Cu-T">
                <div class="Nope_subline_1ToKu">Fees that Zero will never charge:</div>
                <div class="Nope_fees_3BPr-">
                    <div class="Nope_fees__item_SwMls">Overdraft Fees</div>
                    <div class="Nope_fees__item_SwMls">Wire Fees</div>
                    <div class="Nope_fees__item_SwMls">Bill Pay Service Fees</div>
                    <div class="Nope_fees__item_SwMls">Add-on ATM Fees</div>
                    <div class="Nope_fees__item_SwMls">Stop Payment Fees</div>
                    <div class="Nope_fees__item_SwMls">Inactivity Fees</div>
                </div>
            </div>
        </div>
    </div>
</div>
