.DesktopHero_reset-all_34rTm,
.DesktopHero_reset-heading_2g1Ap,
.DesktopHero_reset-list_2t_6Q {
    @extend .Default_Layout;
}

.DesktopHero_reset-list_2t_6Q {
    list-style: none
}

.DesktopHero_reset-button_h5OYE {
    @extend .Default_Layout;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.DesktopHero_reset-button_h5OYE:focus {
    outline: none
}

.DesktopHero_reset-input_jMifS {
    @extend .Default_Layout;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.DesktopHero_reset-anchor_1jOeX {
    color: inherit;
    text-decoration: none
}

@row-ruleset : {
    *zoom: 1;
    :after,
    :before {
        content: ' ';
        display: table
    }
    :after {
        clear: both
    }
}

.DesktopHero_container_2O8mQ {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 1310px
}

@media (min-width:340px) {
    .DesktopHero_container_2O8mQ {
        padding: 0 30px;
        max-width: 1340px
    }
}

@media (min-width:720px) {
    .DesktopHero_container_2O8mQ {
        padding: 0 50px;
        max-width: 1380px
    }
}

@media (min-width:1080px) {
    .DesktopHero_container_2O8mQ {
        padding: 0 70px;
        max-width: 1420px
    }
}

.DesktopHero_container--full_LJpax {
    max-width: none
}

@media (min-width:720px) {
    .DesktopHero_container--full_LJpax {
        max-width: none
    }
}

@media (min-width:1080px) {
    .DesktopHero_container--full_LJpax {
        max-width: none
    }
}

.DesktopHero_isMobile_PoRy7 {
    background: #fff
}

.DesktopHero_videoEnabled_vM61P {
    pointer-events: none
}

.DesktopHero_hero_3HzY5 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    position: relative;
    z-index: 101;
    height: 150vh;
    background: #fff
}

.DesktopHero_hero_3HzY5.DesktopHero_isMobile_PoRy7 {
    height: 100vh
}

.DesktopHero_hero_3HzY5 .DesktopHero_gfx_2VC3z {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    width: 50%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: -webkit-linear-gradient(#edf4ec, #c6e2e9, #c6e2e9);
    background: linear-gradient(#edf4ec, #c6e2e9, #c6e2e9);
    overflow: hidden
}

.DesktopHero_hero_3HzY5 .DesktopHero_content_26ZeS {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 90px 30px 0;
    width: 50%;
    height: 66.66666667%
}

.DesktopHero_hero_3HzY5 .DesktopHero_contentInner_1KyGm {
    max-width: 300px
}

@media (min-width:1200px) {
    .DesktopHero_hero_3HzY5 .DesktopHero_contentInner_1KyGm {
        max-width: 450px
    }
}

@media (min-width:1080px) {
    .DesktopHero_hero_3HzY5 .DesktopHero_content_26ZeS {
        padding-left: 110px
    }
}

.DesktopHero_hero_3HzY5.DesktopHero_isMobile_PoRy7 .DesktopHero_content_26ZeS {
    height: 100%
}

.DesktopHero_header_2h7Bl {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    z-index: 100
}

@media (min-height:840px) and (min-width:1280px) {
    .DesktopHero_header_2h7Bl {
        top: 90px
    }
}

.DesktopHero_header_2h7Bl .DesktopHero_container_2O8mQ {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 1310px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

@media (min-width:340px) {
    .DesktopHero_header_2h7Bl .DesktopHero_container_2O8mQ {
        padding: 0 30px;
        max-width: 1340px
    }
}

@media (min-width:720px) {
    .DesktopHero_header_2h7Bl .DesktopHero_container_2O8mQ {
        padding: 0 50px;
        max-width: 1380px
    }
}

@media (min-width:1080px) {
    .DesktopHero_header_2h7Bl .DesktopHero_container_2O8mQ {
        padding: 0 70px;
        max-width: 1420px
    }
}

.DesktopHero_header_2h7Bl .DesktopHero_container--full_LJpax {
    max-width: none
}

@media (min-width:720px) {
    .DesktopHero_header_2h7Bl .DesktopHero_container--full_LJpax {
        max-width: none
    }
}

@media (min-width:1080px) {
    .DesktopHero_header_2h7Bl .DesktopHero_container--full_LJpax {
        max-width: none
    }
}

.DesktopHero_header_2h7Bl .DesktopHero_logo_1zAOp {
    color: inherit;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.DesktopHero_header_2h7Bl .DesktopHero_logo_1zAOp svg {
    width: 60px
}

.DesktopHero_header_2h7Bl .DesktopHero_navigation_1a4M1 {
    margin-left: auto;
    padding-left: 30px;
    width: 50%
}

@media (min-width:1080px) {
    .DesktopHero_header_2h7Bl .DesktopHero_navigation_1a4M1 {
        padding-left: 110px
    }
}

.DesktopHero_heading_189bt {
    display: block;
    position: relative;
    left: -3px;
    font-size: 42px;
    font-weight: 200;
    line-height: 1;
    color: #37383c
}

@media (min-width:1200px) and (min-height:960px) {
    .DesktopHero_heading_189bt {
        font-size: 72px
    }
}

.DesktopHero_heading__line_g9eBu {
    overflow: hidden
}

.DesktopHero_heading__text_AFYel {
    display: block
}

.DesktopHero_heading_189bt:before {
    content: '';
    display: none;
    opacity: 0;
    margin: 0 0 30px;
    width: 110px;
    height: 2px;
    background: #37383c;
    -webkit-transition: opacity 1s;
    transition: opacity 1s
}

@media (min-height:1080px) {
    .DesktopHero_heading_189bt:before {
        display: block;
        margin-bottom: 60px
    }
}

.DesktopHero_headingReady_1ssJl:before {
    opacity: 1
}

.DesktopHero_text_1Z1NG {
    max-width: 350px;
    font-size: 14px
}

@media (min-width:1200px) and (min-height:960px) {
    .DesktopHero_text_1Z1NG {
        max-width: 400px;
        font-size: 16px
    }
}

.DesktopHero_form_2mLo5 {
    padding-top: 30px;
    margin: 0 0 30px
}

@media (min-height:840px) {
    .DesktopHero_form_2mLo5 {
        margin-bottom: 60px
    }
}

.DesktopHero_button_3rhnp {
    display: none
}

@media (min-width:768px) {
    .DesktopHero_button_3rhnp {
        display: block
    }
}

.DesktopHero_play_3j2yo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: 33.33333333%;
    left: 50%;
    z-index: 20;
    margin: -42.5px 0 0 -42.5px;
    width: 85px;
    height: 85px;
    cursor: pointer;
    border-radius: 50%;
    background: #33e2d1;
    -webkit-transition: background .4s;
    transition: background .4s
}

.DesktopHero_hero_3HzY5.DesktopHero_isMobile_PoRy7 .DesktopHero_play_3j2yo {
    top: 50%
}

.DesktopHero_play_3j2yo:before {
    content: '';
    display: block;
    position: relative;
    left: 12px;
    border: 20px solid transparent;
    border-width: 12px 22px;
    border-left-color: #fff
}

.DesktopHero_play_3j2yo:hover {
    background: rgba(0, 0, 0, .5)
}

.DesktopHero_video_35eYk {
    position: absolute;
    top: 33.33333333%;
    left: 50%;
    z-index: 8;
    width: 800px;
    max-width: 90vw;
    pointer-events: none;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-perspective: 800px;
    perspective: 800px
}

@media (min-height:840px) {
    .DesktopHero_video_35eYk {
        width: 1000px
    }
}

.DesktopHero_videoEnable_2svaM {
    pointer-events: all
}

.DesktopHero_video__content_35XDl {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 60px rgba(0, 0, 0, .35)
}

.DesktopHero_video__inner_wAqtK {
    padding-top: 56.25%
}

.DesktopHero_video__close_2tXf6 {
    position: absolute;
    top: -50px;
    right: 0;
    z-index: 200;
    cursor: pointer
}

.DesktopHero_hero_3HzY5.DesktopHero_isMobile_PoRy7 .DesktopHero_video_35eYk {
    top: 50%
}

.DesktopHero_card_uVp7s {
    position: absolute;
    top: 20%;
    left: 35%;
    z-index: 10;
    margin: 0 0 0 -125px;
    width: 250px;
    height: 250px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.DesktopHero_card_uVp7s.DesktopHero_isMobile_PoRy7 {
    top: 28%
}

@media (min-width:1024px) {
    .DesktopHero_card_uVp7s {
        margin-left: -187.5px;
        width: 375px;
        height: 375px
    }
}

@media (min-width:1320px) {
    .DesktopHero_card_uVp7s {
        top: 15%;
        margin-left: -250px;
        width: 500px;
        height: 500px
    }
}

.DesktopHero_card__inner_2AUf9 {
    width: 100%;
    height: 100%;
    background: 0 0 no-repeat;
    background-size: contain;
    -webkit-animation: DesktopHero_hover_36dyM 2.25s .75s infinite alternate ease-in-out;
    animation: DesktopHero_hover_36dyM 2.25s .75s infinite alternate ease-in-out
}

.DesktopHero_card__inner_2AUf9>* {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain
}

.DesktopHero_phone_3Ky5B {
    position: absolute;
    top: 33.33333333%;
    left: 50%;
    z-index: 9;
    margin: 0 0 0 -100px;
    width: 400px;
    height: 350px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.DesktopHero_hero_3HzY5.DesktopHero_isMobile_PoRy7 .DesktopHero_phone_3Ky5B {
    top: 50%
}

@media (min-width:1024px) {
    .DesktopHero_phone_3Ky5B {
        margin-left: -150px;
        width: 600px;
        height: 525px
    }
}

@media (min-width:1320px) {
    .DesktopHero_phone_3Ky5B {
        margin-left: -200px;
        width: 800px;
        height: 700px
    }
}

.DesktopHero_phone__inner_1J5EA {
    width: 100%;
    height: 100%;
    background: 0 0 no-repeat;
    background-size: contain;
    -webkit-animation: DesktopHero_hover_36dyM 3s infinite alternate ease-in-out;
    animation: DesktopHero_hover_36dyM 3s infinite alternate ease-in-out
}

.DesktopHero_phone__inner_1J5EA>* {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain
}

.DesktopHero_small_1Gvp1 {
    opacity: .75;
    font-size: 10px;
    line-height: 1.3
}

.DesktopHero_link_COjWp {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid #a7a8a9
}

@-webkit-keyframes DesktopHero_hover_36dyM {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    to {
        -webkit-transform: translateY(-10%);
        transform: translateY(-10%)
    }
}

@keyframes DesktopHero_hover_36dyM {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    to {
        -webkit-transform: translateY(-10%);
        transform: translateY(-10%)
    }
}

.Preloader_reset-all_-QGB_,
.Preloader_reset-heading_3jz2H,
.Preloader_reset-list_3QNBw {
    @extend .Default_Layout;
}

.Preloader_reset-list_3QNBw {
    list-style: none
}

.Preloader_reset-button_JDwiM {
    @extend .Default_Layout;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.Preloader_reset-button_JDwiM:focus {
    outline: none
}

.Preloader_reset-input_BwIaL {
    @extend .Default_Layout;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.Preloader_reset-anchor_3N_WC {
    color: inherit;
    text-decoration: none
}

@row-ruleset : {
    *zoom: 1;
    :after,
    :before {
        content: ' ';
        display: table
    }
    :after {
        clear: both
    }
}

.Preloader_container_2899V {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 1310px
}

@media (min-width:340px) {
    .Preloader_container_2899V {
        padding: 0 30px;
        max-width: 1340px
    }
}

@media (min-width:720px) {
    .Preloader_container_2899V {
        padding: 0 50px;
        max-width: 1380px
    }
}

@media (min-width:1080px) {
    .Preloader_container_2899V {
        padding: 0 70px;
        max-width: 1420px
    }
}

.Preloader_container--full_1XVPl {
    max-width: none
}

@media (min-width:720px) {
    .Preloader_container--full_1XVPl {
        max-width: none
    }
}

@media (min-width:1080px) {
    .Preloader_container--full_1XVPl {
        max-width: none
    }
}

.Preloader_preloader_3THEi {
    position: relative;
    z-index: 10000;
    height: 100vh;
    background: -webkit-linear-gradient(#e5f4f2, #c6e2e9);
    background: linear-gradient(#e5f4f2, #c6e2e9)
}

.Preloader_background_1LJHU {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff
}

.Preloader_header_7ZiJD {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    z-index: 100
}

@media (min-height:840px) and (min-width:1280px) {
    .Preloader_header_7ZiJD {
        top: 90px
    }
}

.Preloader_header_7ZiJD .Preloader_container_2899V {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 1310px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

@media (min-width:340px) {
    .Preloader_header_7ZiJD .Preloader_container_2899V {
        padding: 0 30px;
        max-width: 1340px
    }
}

@media (min-width:720px) {
    .Preloader_header_7ZiJD .Preloader_container_2899V {
        padding: 0 50px;
        max-width: 1380px
    }
}

@media (min-width:1080px) {
    .Preloader_header_7ZiJD .Preloader_container_2899V {
        padding: 0 70px;
        max-width: 1420px
    }
}

.Preloader_header_7ZiJD .Preloader_container--full_1XVPl {
    max-width: none
}

@media (min-width:720px) {
    .Preloader_header_7ZiJD .Preloader_container--full_1XVPl {
        max-width: none
    }
}

@media (min-width:1080px) {
    .Preloader_header_7ZiJD .Preloader_container--full_1XVPl {
        max-width: none
    }
}

.Preloader_header_7ZiJD .Preloader_logo_39bqu {
    color: inherit;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.Preloader_header_7ZiJD .Preloader_logo_39bqu svg {
    width: 60px
}

.Preloader_header_7ZiJD .Preloader_navigation_37f9Y {
    margin-left: auto;
    padding-left: 30px;
    width: 50%
}

@media (min-width:1080px) {
    .Preloader_header_7ZiJD .Preloader_navigation_37f9Y {
        padding-left: 110px
    }
}

.Preloader_num_lgTdU {
    position: relative;
    top: 3px;
    font-size: 24px;
    font-weight: 600;
    color: #000;
    line-height: 1
}

.Knob_reset-all_1E_TW,
.Knob_reset-heading_3y05N,
.Knob_reset-list_2ZEXK {
    @extend .Default_Layout;
}

.Knob_reset-list_2ZEXK {
    list-style: none
}

.Knob_reset-button_1DB29 {
    @extend .Default_Layout;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.Knob_reset-button_1DB29:focus {
    outline: none
}

.Knob_reset-input_35WdF {
    @extend .Default_Layout;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.Knob_reset-anchor_YX5wt {
    color: inherit;
    text-decoration: none
}

@row-ruleset : {
    *zoom: 1;
    :after,
    :before {
        content: ' ';
        display: table
    }
    :after {
        clear: both
    }
}

.Knob_host_2-lDX circle {
    cursor: -webkit-grab;
    cursor: grab
}

.Knob_isDragging_3Ludn .Knob_host_2-lDX,
.Knob_isDragging_3Ludn .Knob_host_2-lDX circle {
    cursor: -webkit-grabbing;
    cursor: grabbing
}

.Knob_info_1xDAn {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -20% 0 0 -20%;
    width: 40%;
    font-size: 14px
}

.Knob_isDragging_3Ludn .Knob_info_1xDAn {
    pointer-events: none
}

.Knob_info__content_3JBua {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}

.Knob_info__aspect_3qHOa {
    padding-top: 100%
}

.Knob_info_1xDAn .Knob_heading_1H0ia {
    margin: 0 0 10px;
    font-size: 12px;
    white-space: nowrap
}

@media (min-width:768px) {
    .Knob_info_1xDAn .Knob_heading_1H0ia {
        margin: 0;
        font-size: 16px
    }
}

.Knob_info_1xDAn .Knob_balance__5iTb,
.Knob_info_1xDAn .Knob_spending_27aaP {
    width: 190px;
    max-width: 100%
}

.Knob_info_1xDAn .Knob_balance__5iTb input,
.Knob_info_1xDAn .Knob_spending_27aaP input {
    @extend .Default_Layout;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    font-size: 28px;
    color: #37383c;
    border: solid #c4c4c4;
    border-width: 0 0 1px;
    background: transparent
}

.Knob_info_1xDAn .Knob_balance__5iTb input:focus,
.Knob_info_1xDAn .Knob_spending_27aaP input:focus {
    outline: none
}

.Knob_info_1xDAn .Knob_spending_27aaP input {
    border-color: #30cfbf
}

.Knob_info_1xDAn .Knob_balance__5iTb {
    margin-top: 30px
}

.Knob_info_1xDAn .Knob_balance__5iTb input {
    border-color: #486784
}

@media (max-width:839px) {
    .Knob_result_38FCu {
        font-size: 28px;
        fill: #fff
    }
}

.Header_reset-all_1butm,
.Header_reset-heading_1C3eI,
.Header_reset-list_3yEHL {
    @extend .Default_Layout;
}

.Header_reset-list_3yEHL {
    list-style: none
}

.Header_reset-button_2yU7Y {
    @extend .Default_Layout;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.Header_reset-button_2yU7Y:focus {
    outline: none
}

.Header_reset-input_31f5F {
    @extend .Default_Layout;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.Header_reset-anchor_258P- {
    color: inherit;
    text-decoration: none
}

@row-ruleset : {
    *zoom: 1;
    :after,
    :before {
        content: ' ';
        display: table
    }
    :after {
        clear: both
    }
}

.Header_container_3Kpou {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 1310px
}

@media (min-width:340px) {
    .Header_container_3Kpou {
        padding: 0 30px;
        max-width: 1340px
    }
}

@media (min-width:720px) {
    .Header_container_3Kpou {
        padding: 0 50px;
        max-width: 1380px
    }
}

@media (min-width:1080px) {
    .Header_container_3Kpou {
        padding: 0 70px;
        max-width: 1420px
    }
}

.Header_container--full_1hOTX {
    max-width: none
}

@media (min-width:720px) {
    .Header_container--full_1hOTX {
        max-width: none
    }
}

@media (min-width:1080px) {
    .Header_container--full_1hOTX {
        max-width: none
    }
}

.Header_header_1ZHvk {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    margin-top: -1px;
    background: hsla(0, 0%, 100%, .9);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: background .5s, -webkit-transform .5s;
    transition: background .5s, -webkit-transform .5s;
    transition: transform .5s, background .5s;
    transition: transform .5s, background .5s, -webkit-transform .5s;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%)
}

.Header_headerInline_3iGUJ {
    position: static
}

.Header_headerVisible_2-fhp {
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.Header_headerFixed_369XS {
    position: fixed
}

.Header_headerTransparent_KG77K {
    background: none
}

@media (min-width:768px) {
    .Header_header_1ZHvk {
        border: none
    }
}

.Header_header_1ZHvk .Header_inner_3WHU7 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    margin: 0 0 -1px;
    height: 65px
}

@media (min-width:768px) {
    .Header_header_1ZHvk .Header_inner_3WHU7 {
        height: 93px;
        border-bottom: 1px solid rgba(55, 56, 60, .1)
    }
}

.Header_logo_3XCSK {
    color: inherit;
    text-decoration: none;
    display: block;
    position: relative;
    top: -3px;
    width: 50px;
    height: 16px
}

.Header_logo_3XCSK>svg {
    width: 100%
}

@media (min-width:768px) {
    .Header_logo_3XCSK {
        width: 60px
    }
}

.Header_navigation_1-V9H {
    display: none;
    margin-left: auto
}

@media (min-width:768px) {
    .Header_navigation_1-V9H {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }
}

.Header_button_3Gm9Y {
    margin-left: auto
}

.Header_button__desktopText_2eLlX {
    display: none
}

@media (min-width:768px) {
    .Header_button_3Gm9Y {
        display: block;
        margin-left: 30px
    }
    .Header_button__mobileText_zF2gN {
        display: none
    }
    .Header_button__desktopText_2eLlX {
        display: inline
    }
}

.Header_hamburger_3DDK5 {
    position: relative;
    height: 100%;
    width: 50px;
    text-indent: -9999px;
    cursor: pointer;
    display: block;
    margin-left: 10px
}

.Header_hamburger_3DDK5:after,
.Header_hamburger_3DDK5:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 15px;
    right: 15px;
    margin-top: -5px;
    height: 3px;
    background: #000
}

.Header_hamburger_3DDK5:after {
    margin-top: 2px
}

@media (min-width:768px) {
    .Header_hamburger_3DDK5 {
        display: none
    }
}

.Header_close_30RRa {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px)
}

@media (max-width:767px) {
    .Header_close_30RRa>svg {
        width: 20px;
        height: 20px
    }
}

.AboutUs_reset-all_3NCUa,
.AboutUs_reset-heading_2oLDj,
.AboutUs_reset-list_1WE6G {
    @extend .Default_Layout;
}

.AboutUs_reset-list_1WE6G {
    list-style: none
}

.AboutUs_reset-button_2gG2R {
    @extend .Default_Layout;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.AboutUs_reset-button_2gG2R:focus {
    outline: none
}

.AboutUs_reset-input_3Mpn6 {
    @extend .Default_Layout;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.AboutUs_reset-anchor_e_lXW {
    color: inherit;
    text-decoration: none
}

@row-ruleset : {
    *zoom: 1;
    :after,
    :before {
        content: ' ';
        display: table
    }
    :after {
        clear: both
    }
}

.AboutUs_container_3FrqK {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 1310px
}

@media (min-width:340px) {
    .AboutUs_container_3FrqK {
        padding: 0 30px;
        max-width: 1340px
    }
}

@media (min-width:720px) {
    .AboutUs_container_3FrqK {
        padding: 0 50px;
        max-width: 1380px
    }
}

@media (min-width:1080px) {
    .AboutUs_container_3FrqK {
        padding: 0 70px;
        max-width: 1420px
    }
}

.AboutUs_container--full_16vEf {
    max-width: none
}

@media (min-width:720px) {
    .AboutUs_container--full_16vEf {
        max-width: none
    }
}

@media (min-width:1080px) {
    .AboutUs_container--full_16vEf {
        max-width: none
    }
}

.AboutUs_segment_2F7Q3 {
    position: relative;
    padding: 90px 0 60px
}

@media (min-width:720px) {
    .AboutUs_segment_2F7Q3 {
        padding: 90px 0 60px
    }
}

@media (min-width:1080px) {
    .AboutUs_segment_2F7Q3 {
        padding: 120px 0 90px
    }
}

@media (min-width:1440px) {
    .AboutUs_segment_2F7Q3 {
        padding: 210px 0 180px
    }
}

.AboutUs_row_389z1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px
}

.AboutUs_intro_1mo3M {
    position: relative;
    padding: 90px 0 60px;
    background: #f9f9f9
}

@media (min-width:720px) {
    .AboutUs_intro_1mo3M {
        padding: 90px 0 60px
    }
}

@media (min-width:1080px) {
    .AboutUs_intro_1mo3M {
        padding: 120px 0 90px
    }
}

@media (min-width:1440px) {
    .AboutUs_intro_1mo3M {
        padding: 210px 0 180px
    }
}

.AboutUs_intro__inner_2HZnt {
    margin-top: 60px
}

@media (min-width:1080px) {
    .AboutUs_intro__inner_2HZnt {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px
    }
}

.AboutUs_intro__heading_3uPQ8 {
    @extend .Default_Layout;
    font-size: 36px;
    font-weight: 600;
    line-height: 1.08333333
}

.AboutUs_intro__heading_3uPQ8:before {
    content: '';
    display: block;
    margin: 0 0 43px;
    width: 110px;
    height: 2px;
    background: #37383c
}

@media (min-width:1080px) {
    .AboutUs_intro__heading_3uPQ8:before {
        margin-bottom: 43px
    }
}

@media (min-width:720px) {
    .AboutUs_intro__heading_3uPQ8 {
        display: block;
        padding-left: 15px;
        padding-right: 15px;
        width: 25%;
        -ms-flex-item-align: start;
        align-self: flex-start;
        min-height: 1px;
        box-sizing: border-box;
        margin-left: 8.33333333%;
        font-size: 48px
    }
    .AboutUs_intro__heading_3uPQ8:before {
        margin: 0 0 58px
    }
}

@media (min-width:720px) {
    .AboutUs_intro__heading_3uPQ8 {
        display: block;
        padding-left: 15px;
        padding-right: 15px;
        width: 16.66666667%;
        -ms-flex-item-align: start;
        align-self: flex-start;
        min-height: 1px;
        box-sizing: border-box;
        margin-left: 8.33333333%
    }
}

.AboutUs_intro__content_32-UN {
    @extend .Default_Layout;
    padding-top: 60px
}

@media (min-width:720px) {
    .AboutUs_intro__content_32-UN {
        display: block;
        padding-left: 15px;
        padding-right: 15px;
        width: 66.66666667%;
        -ms-flex-item-align: start;
        align-self: flex-start;
        min-height: 1px;
        box-sizing: border-box;
        margin-left: 8.33333333%
    }
}

@media (min-width:1080px) {
    .AboutUs_intro__content_32-UN {
        display: block;
        padding-left: 15px;
        padding-right: 15px;
        width: 50%;
        -ms-flex-item-align: start;
        align-self: flex-start;
        min-height: 1px;
        box-sizing: border-box;
        margin-left: 8.33333333%
    }
}

.AboutUs_intro__text_1nVtm {
    @extend .Default_Layout;
    margin: 0 0 30px;
    font-size: 16px;
    line-height: 1.375
}

.AboutUs_intro__text_1nVtm:first-of-type {
    font-size: 22px
}

.AboutUs_founders_3fkgR {
    position: relative;
    padding: 90px 0 60px
}

@media (min-width:720px) {
    .AboutUs_founders_3fkgR {
        padding: 90px 0 60px
    }
}

@media (min-width:1080px) {
    .AboutUs_founders_3fkgR {
        padding: 120px 0 90px
    }
}

@media (min-width:1440px) {
    .AboutUs_founders_3fkgR {
        padding: 210px 0 180px
    }
}

.AboutUs_founders__title_1CAkj {
    margin: 0 0 30px;
    font-size: 28px;
    font-weight: 600
}

@media (min-width:840px) {
    .AboutUs_founders__title_1CAkj {
        margin: 0 0 60px 8.33333333%
    }
}

.AboutUs_founders__title_1CAkj:before {
    content: '';
    display: block;
    margin: 0 0 30px;
    width: 110px;
    height: 2px;
    background: #37383c
}

.AboutUs_founders__row_3QBUK {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column;
    flex-flow: column;
    margin: 0 0 90px;
    max-width: 400px
}

@media (min-width:720px) {
    .AboutUs_founders__row_3QBUK {
        display: block;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        max-width: none
    }
}

@media (min-width:720px) {
    .AboutUs_founders__row_3QBUK,
    .AboutUs_founders__subrow_HMP84 {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px
    }
    .AboutUs_founders__subrow_HMP84 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }
}

.AboutUs_founders__image_19VVZ {
    margin: 0 0 30px
}

@media (min-width:720px) {
    .AboutUs_founders__image_19VVZ {
        display: block;
        padding-left: 15px;
        padding-right: 15px;
        width: 41.66666667%;
        -ms-flex-item-align: start;
        align-self: flex-start;
        min-height: 1px;
        box-sizing: border-box;
        margin-top: 45px;
        margin-right: 8.33333333%
    }
}

@media (min-width:1080px) {
    .AboutUs_founders__image_19VVZ {
        margin-left: 8.33333333%
    }
}

.AboutUs_founders__row_3QBUK:last-child .AboutUs_founders__image_19VVZ {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1
}

@media (min-width:720px) {
    .AboutUs_founders__row_3QBUK:last-child .AboutUs_founders__image_19VVZ {
        margin-left: 8.33333333%;
        margin-right: 0;
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0
    }
}

@media (min-width:1080px) {
    .AboutUs_founders__row_3QBUK:last-child .AboutUs_founders__image_19VVZ {
        margin-right: 8.33333333%
    }
}

.AboutUs_founders__content_3XOPN {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2
}

@media (min-width:720px) {
    .AboutUs_founders__content_3XOPN {
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
        display: block;
        padding-left: 15px;
        padding-right: 15px;
        width: 50%;
        -ms-flex-item-align: start;
        align-self: flex-start;
        min-height: 1px;
        box-sizing: border-box
    }
}

@media (min-width:1080px) {
    .AboutUs_founders__content_3XOPN {
        display: block;
        padding-left: 15px;
        padding-right: 15px;
        width: 41.66666667%;
        -ms-flex-item-align: start;
        align-self: flex-start;
        min-height: 1px;
        box-sizing: border-box
    }
}

.AboutUs_founders__top_23HHp {
    margin-bottom: 45px;
    font-size: 22px;
    line-height: 1.27272727
}

@media (min-width:720px) {
    .AboutUs_founders__top_23HHp {
        display: block;
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
        -ms-flex-item-align: start;
        align-self: flex-start;
        min-height: 1px;
        box-sizing: border-box
    }
}

@media (min-width:1080px) {
    .AboutUs_founders__top_23HHp {
        display: block;
        padding-left: 15px;
        padding-right: 15px;
        width: 80%;
        -ms-flex-item-align: start;
        align-self: flex-start;
        min-height: 1px;
        box-sizing: border-box;
        margin-left: 20%
    }
}

.AboutUs_founders__top_23HHp:after {
    content: '';
    display: block;
    margin: 30px 0 0;
    width: 30px;
    height: 2px;
    background: #37383c
}

.AboutUs_founders__heading_1fjX9 {
    font-weight: 600
}

.AboutUs_founders__subline_3tvFO {
    font-size: 22px
}

.AboutUs_founders__quote_oFLtw {
    margin-bottom: 45px;
    font-size: 18px;
    line-height: 1.33333333;
    color: #949599
}

@media (min-width:720px) {
    .AboutUs_founders__quote_oFLtw {
        display: block;
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
        -ms-flex-item-align: start;
        align-self: flex-start;
        min-height: 1px;
        box-sizing: border-box;
        margin-left: 0
    }
}

.AboutUs_founders__text_35i8l {
    font-size: 14px;
    line-height: 1.28571429
}

@media (min-width:720px) {
    .AboutUs_founders__text_35i8l {
        display: block;
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
        -ms-flex-item-align: start;
        align-self: flex-start;
        min-height: 1px;
        box-sizing: border-box
    }
}

@media (min-width:1080px) {
    .AboutUs_founders__text_35i8l {
        display: block;
        padding-left: 15px;
        padding-right: 15px;
        width: 80%;
        -ms-flex-item-align: start;
        align-self: flex-start;
        min-height: 1px;
        box-sizing: border-box;
        margin-left: 20%
    }
}

.AboutUs_info_1HZcJ {
    display: block;
    padding-top: 90px
}

@media (min-width:720px) {
    .AboutUs_info_1HZcJ {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }
}

@media (min-width:720px) {
    .AboutUs_info__left_2ROt2 {
        width: 33.33333333%
    }
}

@media (min-width:1080px) {
    .AboutUs_info__left_2ROt2 {
        margin-left: 16.66666667%;
        width: 25%
    }
}

@media (min-width:720px) {
    .AboutUs_info__right_5kwFq {
        margin-left: 8.33333333%;
        width: 58.33333333%
    }
}

@media (min-width:1080px) {
    .AboutUs_info__right_5kwFq {
        margin-left: 8.33333333%;
        width: 50%
    }
}

@media (min-width:720px) {
    .AboutUs_info__right_5kwFq {
        padding: 60px;
        background: #f5f5f5
    }
}

@media (min-width:1080px) {
    .AboutUs_info__right_5kwFq {
        padding: 90px
    }
}

.AboutUs_info__heading_2RXlz {
    @extend .Default_Layout;
    margin: 0 0 30px;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.35
}

.AboutUs_info__heading_2RXlz:before {
    content: '';
    display: block;
    margin: 0 0 60px;
    width: 110px;
    height: 2px;
    background: #37383c
}

.AboutUs_info__subheading_3dB0N {
    font-weight: 600
}

.AboutUs_info__text_2ADXa {
    @extend .Default_Layout;
    margin: 0 0 30px;
    line-height: 1.375
}

.AboutUs_staff_1LKCG {
    position: relative;
    padding: 90px 0 60px;
    background: #f9f9f9
}

@media (min-width:720px) {
    .AboutUs_staff_1LKCG {
        padding: 90px 0 60px
    }
}

@media (min-width:1080px) {
    .AboutUs_staff_1LKCG {
        padding: 120px 0 90px
    }
}

@media (min-width:1440px) {
    .AboutUs_staff_1LKCG {
        padding: 210px 0 180px
    }
}

@media (min-width:840px) {
    .AboutUs_staff_1LKCG {
        margin: 0 30px
    }
}

.AboutUs_staff__title_3svaA {
    margin: 0 0 30px;
    font-size: 28px;
    font-weight: 600
}

@media (min-width:840px) {
    .AboutUs_staff__title_3svaA {
        margin: 0 0 60px 8.33333333%
    }
}

.AboutUs_staff__title_3svaA:before {
    content: '';
    display: block;
    margin: 0 0 30px;
    width: 110px;
    height: 2px;
    background: #37383c
}

@media (min-width:840px) {
    .AboutUs_staff__row_1MqZ1 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        margin-bottom: -60px
    }
}

@media (min-width:1440px) {
    .AboutUs_staff__row_1MqZ1 {
        margin-bottom: -120px
    }
}

.AboutUs_staff__item_1j4vz {
    margin: 0 0 60px;
    max-width: 500px
}

@media (min-width:840px) {
    .AboutUs_staff__item_1j4vz {
        display: block;
        padding-left: 15px;
        padding-right: 15px;
        width: 41.66666667%;
        -ms-flex-item-align: start;
        align-self: flex-start;
        min-height: 1px;
        box-sizing: border-box;
        margin-left: 8.33333333%;
        margin-bottom: 0;
        max-width: none
    }
}

@media (min-width:1080px) {
    .AboutUs_staff__item_1j4vz {
        display: block;
        padding-left: 15px;
        padding-right: 15px;
        width: 33.33333333%;
        -ms-flex-item-align: start;
        align-self: flex-start;
        min-height: 1px;
        box-sizing: border-box
    }
}

.AboutUs_staff__image_23ygG {
    margin: 0 0 30px
}

.AboutUs_staff__heading_1TiRm {
    font-weight: 600
}

.AboutUs_staff__subline_EDvsL {
    margin: 0 0 30px;
    min-height: 48px;
    line-height: 24px
}

.AboutUs_staff__text_RP0Gf {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 1.28571429
}

.AboutUs_staff__textInner_eRkcx {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    -ms-flex-item-align: start;
    align-self: flex-start;
    min-height: 1px;
    box-sizing: border-box;
    opacity: 0;
    pointer-events: none;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    -webkit-transition: opacity .3s, -webkit-transform .3s;
    transition: opacity .3s, -webkit-transform .3s;
    transition: opacity .3s, transform .3s;
    transition: opacity .3s, transform .3s, -webkit-transform .3s
}

@media (min-width:1320px) {
    .AboutUs_staff__textInner_eRkcx {
        display: block;
        padding-left: 15px;
        padding-right: 15px;
        width: 75%;
        -ms-flex-item-align: start;
        align-self: flex-start;
        min-height: 1px;
        box-sizing: border-box
    }
}

.AboutUs_staff__textInner_eRkcx:first-child {
    position: absolute
}

.AboutUs_staff__textInner_eRkcx.AboutUs_isVisible_2y93b {
    opacity: 1;
    pointer-events: all;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-delay: .25s;
    transition-delay: .25s
}

.AboutUs_staff__link_GWA2p {
    color: inherit;
    text-decoration: none;
    margin-top: 15px;
    font-size: 12px;
    font-weight: 600;
    color: #30cfbf;
    text-transform: uppercase;
    cursor: pointer
}

.Contact_reset-all_3Nd8y,
.Contact_reset-heading_dEqRw,
.Contact_reset-list_cs6WU {
    @extend .Default_Layout;
}

.Contact_reset-list_cs6WU {
    list-style: none
}

.Contact_reset-button_2_4NX {
    @extend .Default_Layout;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.Contact_reset-button_2_4NX:focus {
    outline: none
}

.Contact_reset-input_2kEOb {
    @extend .Default_Layout;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.Contact_reset-anchor_uzpO9 {
    color: inherit;
    text-decoration: none
}

@row-ruleset : {
    *zoom: 1;
    :after,
    :before {
        content: ' ';
        display: table
    }
    :after {
        clear: both
    }
}

.Contact_container_1u1QD {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 1310px
}

@media (min-width:340px) {
    .Contact_container_1u1QD {
        padding: 0 30px;
        max-width: 1340px
    }
}

@media (min-width:720px) {
    .Contact_container_1u1QD {
        padding: 0 50px;
        max-width: 1380px
    }
}

@media (min-width:1080px) {
    .Contact_container_1u1QD {
        padding: 0 70px;
        max-width: 1420px
    }
}

.Contact_container--full_WpBz_ {
    max-width: none
}

@media (min-width:720px) {
    .Contact_container--full_WpBz_ {
        max-width: none
    }
}

@media (min-width:1080px) {
    .Contact_container--full_WpBz_ {
        max-width: none
    }
}

.Contact_segment_Fz5mI {
    position: relative;
    padding: 90px 0 60px
}

@media (min-width:720px) {
    .Contact_segment_Fz5mI {
        padding: 90px 0 60px
    }
}

@media (min-width:1080px) {
    .Contact_segment_Fz5mI {
        padding: 120px 0 90px
    }
}

@media (min-width:1440px) {
    .Contact_segment_Fz5mI {
        padding: 210px 0 180px
    }
}

.Contact_press_LhczZ {
    position: relative;
    padding: 90px 0 60px;
    padding-bottom: 0!important
}

@media (min-width:720px) {
    .Contact_press_LhczZ {
        padding: 90px 0 60px
    }
}

@media (min-width:1080px) {
    .Contact_press_LhczZ {
        padding: 120px 0 90px
    }
}

@media (min-width:1440px) {
    .Contact_press_LhczZ {
        padding: 210px 0 180px
    }
}

.Contact_press__heading_3NOSF {
    @extend .Default_Layout;
    margin: 0 0 90px;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.35
}

.Contact_press__heading_3NOSF:before {
    content: '';
    display: block;
    margin: 0 0 60px;
    width: 110px;
    height: 2px;
    background: #37383c
}

@media (min-width:720px) {
    .Contact_press__heading_3NOSF {
        margin-left: 0
    }
}

@media (min-width:1080px) {
    .Contact_press__heading_3NOSF {
        margin-left: 8.33333333%
    }
}

.Contact_press__date_2E0Kx {
    opacity: .4;
    margin: 0 0 30px;
    font-size: 14px;
    font-weight: 500
}

@media (min-width:720px) {
    .Contact_press__content_eFUiN {
        margin: 0;
        width: 41.66666667%
    }
}

@media (min-width:1080px) {
    .Contact_press__content_eFUiN {
        margin-left: 8.33333333%;
        width: 41.66666667%
    }
}

.Contact_press__subheading_eQ3tx {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.35
}

.Contact_press__subheading_eQ3tx,
.Contact_press__text_2aSaf {
    margin: 0;
    padding: 0;
    font-family: inherit;
    border: 0;
    vertical-align: baseline;
    margin: 0 0 30px
}

.Contact_press__text_2aSaf {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    line-height: 1.375
}

.Contact_press__link_3ufYX {
    color: inherit;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    color: #30cfbf;
    text-transform: uppercase;
    -webkit-transition: color .3s;
    transition: color .3s
}

.Contact_press__link_3ufYX:hover {
    color: #26a699
}

.Contact_sayhi_1DTVc {
    position: relative;
    padding: 90px 0 60px
}

@media (min-width:720px) {
    .Contact_sayhi_1DTVc {
        padding: 90px 0 60px
    }
}

@media (min-width:1080px) {
    .Contact_sayhi_1DTVc {
        padding: 120px 0 90px
    }
}

@media (min-width:1440px) {
    .Contact_sayhi_1DTVc {
        padding: 210px 0 180px
    }
}

@media (min-width:720px) {
    .Contact_sayhi_1DTVc {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }
}

.Contact_sayhi__col_3CSiR {
    margin: 0 0 30px
}

@media (min-width:720px) {
    .Contact_sayhi__col_3CSiR {
        margin: 0;
        width: 41.66666667%
    }
}

@media (min-width:1080px) {
    .Contact_sayhi__col_3CSiR {
        margin: 0;
        margin-left: 8.33333333%;
        width: 16.66666667%
    }
}

.Contact_sayhi__heading_2Scaf {
    @extend .Default_Layout;
    margin: 0 0 30px;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.35;
    letter-spacing: -.01em
}

@media (min-width:720px) {
    .Contact_sayhi__heading_2Scaf:before {
        content: '';
        display: block;
        margin: 0 0 60px;
        width: 110px;
        height: 2px;
        background: #37383c
    }
}

.Contact_sayhi__text_ovOUs {
    @extend .Default_Layout;
    margin: 0 30px 30px 0;
    line-height: 1.375;
    white-space: nowrap
}

.Contact_sayhi__touch_3Wl2j {
    padding: 60px 0 0;
    font-weight: 600
}

.Container_reset-all_1FCGk,
.Container_reset-heading_1iHBu,
.Container_reset-list_G6OJb {
    @extend .Default_Layout;
}

.Container_reset-list_G6OJb {
    list-style: none
}

.Container_reset-button_1bBaf {
    @extend .Default_Layout;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.Container_reset-button_1bBaf:focus {
    outline: none
}

.Container_reset-input_1bBNe {
    @extend .Default_Layout;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.Container_reset-anchor_PboZM {
    color: inherit;
    text-decoration: none
}

@row-ruleset : {
    *zoom: 1;
    :after,
    :before {
        content: ' ';
        display: table
    }
    :after {
        clear: both
    }
}

.Container_container_3iYpH {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 1310px
}

@media (min-width:340px) {
    .Container_container_3iYpH {
        padding: 0 30px;
        max-width: 1340px
    }
}

@media (min-width:720px) {
    .Container_container_3iYpH {
        padding: 0 50px;
        max-width: 1380px
    }
}

@media (min-width:1080px) {
    .Container_container_3iYpH {
        padding: 0 70px;
        max-width: 1420px
    }
}

.Container_container--full_1dOT3 {
    max-width: none
}

@media (min-width:720px) {
    .Container_container--full_1dOT3 {
        max-width: none
    }
}

@media (min-width:1080px) {
    .Container_container--full_1dOT3 {
        max-width: none
    }
}

.ContentLayout_reset-all_gR_tr,
.ContentLayout_reset-heading_8NIWP,
.ContentLayout_reset-list_2cvJI {
    @extend .Default_Layout;
}

.ContentLayout_reset-list_2cvJI {
    list-style: none
}

.ContentLayout_reset-button_1u4_w {
    @extend .Default_Layout;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.ContentLayout_reset-button_1u4_w:focus {
    outline: none
}

.ContentLayout_reset-input_3QJ85 {
    @extend .Default_Layout;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.ContentLayout_reset-anchor_1cQGb {
    color: inherit;
    text-decoration: none
}

@row-ruleset : {
    *zoom: 1;
    :after,
    :before {
        content: ' ';
        display: table
    }
    :after {
        clear: both
    }
}

.ContentLayout_container_194m2 {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 1310px
}

@media (min-width:340px) {
    .ContentLayout_container_194m2 {
        padding: 0 30px;
        max-width: 1340px
    }
}

@media (min-width:720px) {
    .ContentLayout_container_194m2 {
        padding: 0 50px;
        max-width: 1380px
    }
}

@media (min-width:1080px) {
    .ContentLayout_container_194m2 {
        padding: 0 70px;
        max-width: 1420px
    }
}

.ContentLayout_container--full_3qeeo {
    max-width: none
}

@media (min-width:720px) {
    .ContentLayout_container--full_3qeeo {
        max-width: none
    }
}

@media (min-width:1080px) {
    .ContentLayout_container--full_3qeeo {
        max-width: none
    }
}

.ContentLayout_contentLayout_2sVM2 {
    padding-top: 64px
}

@media (min-width:768px) {
    .ContentLayout_contentLayout_2sVM2 {
        padding-top: 92px
    }
}

@media (min-width:1080px) {
    .ContentLayout_contentLayoutLimit_1rsra .ContentLayout_contentLayout__limit_np-Tb {
        margin: 0 auto;
        width: 66.66666667%
    }
}

.ContentLayout_contentLayout__title_3vNcH {
    padding: 60px 0;
    font-size: 30px;
    font-weight: 300;
    line-height: 1.25
}

@media (min-width:720px) {
    .ContentLayout_contentLayout__title_3vNcH {
        padding: 90px 0;
        font-size: 50px
    }
}

.ContentLayout_contentLayout__content_2pZjN {
    padding: 0 0 60px
}

@media (min-widht:720px) {
    .ContentLayout_contentLayout__content_2pZjN {
        padding: 0 0 90px
    }
}

.Faq_reset-all_10Tkf,
.Faq_reset-heading_nnH6-,
.Faq_reset-list_3rsj2 {
    @extend .Default_Layout;
}

.Faq_reset-list_3rsj2 {
    list-style: none
}

.Faq_reset-button_3Re5n {
    @extend .Default_Layout;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.Faq_reset-button_3Re5n:focus {
    outline: none
}

.Faq_reset-input_1bceP {
    @extend .Default_Layout;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.Faq_reset-anchor_3S5vg {
    color: inherit;
    text-decoration: none
}

@row-ruleset : {
    *zoom: 1;
    :after,
    :before {
        content: ' ';
        display: table
    }
    :after {
        clear: both
    }
}

.Faq_faq__question_15i0O {
    font-weight: 600
}

.Faq_faq__answer_3xPTv {
    margin-bottom: 45px
}

.Faq_faq__answer_3xPTv p {
    @extend .Default_Layout;
    margin: 15px 0
}

.Faq_faq__legal_3diKS {
    padding-top: 90px
}

.Faq_faq__legal_3diKS p {
    @extend .Default_Layout;
    margin: 7.5px 0;
    opacity: .5;
    font-size: 12px
}

.Segment_reset-all_ohegX,
.Segment_reset-heading_2vpVs,
.Segment_reset-list_36-_w {
    @extend .Default_Layout;
}

.Segment_reset-list_36-_w {
    list-style: none
}

.Segment_reset-button_1yUgm {
    @extend .Default_Layout;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.Segment_reset-button_1yUgm:focus {
    outline: none
}

.Segment_reset-input_B29Fp {
    @extend .Default_Layout;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.Segment_reset-anchor_1I_cd {
    color: inherit;
    text-decoration: none
}

@row-ruleset : {
    *zoom: 1;
    :after,
    :before {
        content: ' ';
        display: table
    }
    :after {
        clear: both
    }
}

.Segment_segment_27uiw {
    position: relative;
    padding: 90px 0 60px
}

@media (min-width:720px) {
    .Segment_segment_27uiw {
        padding: 90px 0 60px
    }
}

@media (min-width:1080px) {
    .Segment_segment_27uiw {
        padding: 120px 0 90px
    }
}

@media (min-width:1440px) {
    .Segment_segment_27uiw {
        padding: 210px 0 180px
    }
}


/*# sourceMappingURL=styles.css.map*/
