
.MobileHero_reset-all_2H1z8,
.MobileHero_reset-heading_3DfHQ,
.MobileHero_reset-list_1gpd8 {
    @extend .Default_Layout;
}

.MobileHero_reset-list_1gpd8 {
    list-style: none
}

.MobileHero_reset-button_11-Q- {
    @extend .Default_Layout;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.MobileHero_reset-button_11-Q-:focus {
    outline: none
}

.MobileHero_reset-input_1Bzxw {
    @extend .Default_Layout;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.MobileHero_reset-anchor_f_Fd6 {
    color: inherit;
    text-decoration: none
}

@row-ruleset : {
    *zoom: 1;
    :after,
    :before {
        content: ' ';
        display: table
    }
    :after {
        clear: both
    }
}

.MobileHero_container_2fpCZ {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 1310px
}

@media (min-width:340px) {
    .MobileHero_container_2fpCZ {
        padding: 0 30px;
        max-width: 1340px
    }
}

@media (min-width:720px) {
    .MobileHero_container_2fpCZ {
        padding: 0 50px;
        max-width: 1380px
    }
}

@media (min-width:1080px) {
    .MobileHero_container_2fpCZ {
        padding: 0 70px;
        max-width: 1420px
    }
}

.MobileHero_container--full_1znM1 {
    max-width: none
}

@media (min-width:720px) {
    .MobileHero_container--full_1znM1 {
        max-width: none
    }
}

@media (min-width:1080px) {
    .MobileHero_container--full_1znM1 {
        max-width: none
    }
}

.MobileHero_hero_5g23_ {
    position: relative
}

.MobileHero_hero_5g23_ .MobileHero_top_1kJeh {
    position: relative;
    z-index: 101;
    padding: 150px 0;
    height: 100vh;
    min-height: 550px;
    background: #fff;
    overflow: hidden
}

.MobileHero_hero_5g23_ .MobileHero_top__background_1hLFL {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: -webkit-linear-gradient(#edf4ec, #c6e2e9);
    background: linear-gradient(#edf4ec, #c6e2e9)
}

.MobileHero_hero_5g23_ .MobileHero_bottom_2pzGw {
    padding: 60px 0 0
}

.MobileHero_hero_5g23_ .MobileHero_bottom_2pzGw .MobileHero_text_2yn5t {
    @extend .Default_Layout;
    margin: 0 0 10px
}

.MobileHero_hero_5g23_ .MobileHero_bottom_2pzGw .MobileHero_form_16M6A {
    margin: 0 0 60px;
    padding-top: 30px
}

.MobileHero_hero_5g23_ .MobileHero_bottom_2pzGw .MobileHero_small_2oKfq {
    opacity: .75;
    font-size: 10px;
    line-height: 1.3
}

.MobileHero_hero_5g23_ .MobileHero_bottom_2pzGw .MobileHero_link_t8LlP {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid #a7a8a9
}

.MobileHero_header_2cTK4 {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    z-index: 10
}

@media (min-width:480px) {
    .MobileHero_header_2cTK4 {
        top: 60px
    }
}

.MobileHero_header__inner_1GnFS {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative
}

.MobileHero_header__inner_1GnFS .MobileHero_logo_2Jhho {
    color: inherit;
    text-decoration: none
}

.MobileHero_header__inner_1GnFS .MobileHero_logo_2Jhho svg {
    position: relative;
    top: 4px;
    width: 50px
}

.MobileHero_header__inner_1GnFS .MobileHero_button_CUs0C {
    margin-left: auto
}

.MobileHero_header__inner_1GnFS .MobileHero_hamburger_J20ly {
    margin-left: 10px;
    display: block;
    position: relative;
    height: 100%;
    width: 50px;
    text-indent: -9999px;
    cursor: pointer
}

.MobileHero_header__inner_1GnFS .MobileHero_hamburger_J20ly:after,
.MobileHero_header__inner_1GnFS .MobileHero_hamburger_J20ly:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 15px;
    right: 15px;
    margin-top: -5px;
    height: 3px;
    background: #000
}

.MobileHero_header__inner_1GnFS .MobileHero_hamburger_J20ly:after {
    margin-top: 2px
}

@media (min-width:768px) {
    .MobileHero_header__inner_1GnFS .MobileHero_hamburger_J20ly {
        display: none
    }
}

.MobileHero_heading_3aEwc {
    position: relative;
    z-index: 10;
    font-size: 42px;
    font-weight: 200;
    line-height: 1
}

.MobileHero_card_36I1Z {
    position: absolute;
    z-index: 2;
    top: 45%;
    left: 25%;
    margin: 0 0 0 -150px;
    width: 300px;
    height: 300px
}

.MobileHero_card__inner_cPv71 {
    width: 100%;
    height: 100%;
    background: 0 0 no-repeat;
    background-image: url(/angular-gulp/angular-gulp/assets/images/1f74eaced6fcbcc7b5f4515bb0085e6c.png);
    background-size: contain;
    -webkit-animation: MobileHero_hover_3KuOZ 2.25s .75s infinite alternate ease-in-out;
    animation: MobileHero_hover_3KuOZ 2.25s .75s infinite alternate ease-in-out
}

.MobileHero_phone_1opCF {
    position: absolute;
    z-index: 1;
    top: 60%;
    right: -20%;
    margin: 0 0 0 -200px;
    width: 400px;
    height: 400px
}

.MobileHero_phone__inner_1Yk9j {
    width: 100%;
    height: 100%;
    background: 0 0 no-repeat;
    background-image: url(/angular-gulp/angular-gulp/assets/images/b7e9c9b107d103dd389a7f437a8fbe05.png);
    background-size: contain;
    -webkit-animation: MobileHero_hover_3KuOZ 3s infinite alternate ease-in-out;
    animation: MobileHero_hover_3KuOZ 3s infinite alternate ease-in-out
}

.MobileHero_play_1NE4L {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: 70%;
    left: 50%;
    z-index: 20;
    margin: -42.5px 0 0 -42.5px;
    width: 85px;
    height: 85px;
    cursor: pointer;
    border-radius: 50%;
    background: #33e2d1;
    -webkit-transition: background .4s;
    transition: background .4s;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

.MobileHero_hero_5g23_.MobileHero_isMobile_3PDRJ .MobileHero_play_1NE4L {
    top: 50%
}

.MobileHero_play_1NE4L:before {
    content: '';
    display: block;
    position: relative;
    left: 12px;
    border: 20px solid transparent;
    border-width: 12px 22px;
    border-left-color: #fff
}

.MobileHero_video_1VT-4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
    background: #fff
}

.MobileHero_video__close_12jz_ {
    position: absolute;
    top: 30px;
    right: 30px
}

.MobileHero_video__frame_13wQg {
    position: relative;
    width: 100%
}

.MobileHero_video__content_XoG6F {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}

.MobileHero_video__aspect_Jarep {
    padding-top: 56.25%
}

@-webkit-keyframes MobileHero_hover_3KuOZ {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    to {
        -webkit-transform: translateY(-10%);
        transform: translateY(-10%)
    }
}

@keyframes MobileHero_hover_3KuOZ {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    to {
        -webkit-transform: translateY(-10%);
        transform: translateY(-10%)
    }
}